:host {
  display: flex;
  flex-direction: row;
  width: 100%;

  .thing-description {
    white-space: nowrap;
    max-width: 100%;
    padding: 0 1em;
    >* {
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  .thing-name {
    white-space: nowrap;
    max-width: 32vw;
    padding: 0 1em;


    .name-container {
      padding-left: 1em;
      width: calc(100%);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
